@{
    ViewData["Title"] = "Başarılı";
}

<div class="alert alert-success">
    Form başarıyla gönderildi.
}</div>

<a href="@Url.Action("UserForm", "UserForm")" class="btn btn-link">Yeni form gönder</a>


